


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hang_man.active{

    height: 100vh;
    background-color: rgba(152, 152, 152, 0.7);
    pointer-events: none;

}

.nav_bar{

    display: flex;
    width: 100%;
    height: 100px;
/*     background-color: rgb(255, 255, 255); */
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid rgb(211, 211, 211);
    box-shadow: 1px 1px 5px rgba(82, 82, 82, 0.2);
}

.navigation_bar.active{

    background-color: rgba(209, 209, 209, 0.7);
}

.nav_bar > .name{

    font-size: 28px;
    font-family: sans-serif;
    font-weight: 500;
}

.other{

    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.other_itm > ul{

    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    list-style-type: none;
}


.profile_section{

    display: flex;
    width: 200px;
    align-items:center;
    justify-content:space-between;
}

.profile_pic{

    width: 70px;
    height: 70px;
/*     border: 1px solid black; */
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.name_section > span{
    
    font-family: sans-serif;
}


.img_and_marks{

    position: relative;
    height: 300px;
    display: flex;
   /*  border: 1px solid black; */
    align-items: center;
    justify-content: center;
}

.number_of_chanceses{

    position: absolute;
    right: 200px;
    top: 60px;
    font-family: sans-serif;
}

.outer{

    display: flex;
    align-items: center;
    justify-content: center;
}

.key_bord{

    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    margin-top: 20px;
}


.key_bord.active{

    opacity: 0.2;
}


.key_bord > .first_row{

    width: 75%;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.key_bord > .first_row > button{

    width: 60px;
    height: 40px;
    outline: none;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    background-color: rgb(85, 123, 227);
    color: aliceblue;
    font-family: sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.key_bord > .first_row > button:hover{

    transform: scale(1.04);
    box-shadow: 2px 3px 3px rgba(24, 60, 202, 0.2);
    transition: all 0.2s ease-in-out;

}



.key_bord > .secound_row{

    width: 65%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 10px;
}

.key_bord > .secound_row > button{

    width: 60px;
    height: 40px;
    outline: none;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    background-color: rgb(85, 123, 227);
    color: aliceblue;
    font-family: sans-serif;
    font-weight: 700;
    cursor: pointer;
}



.key_bord > .secound_row > button:hover{

    transform: scale(1.04);
    box-shadow: 2px 3px 3px rgba(24, 60, 202, 0.2);
    transition: all 0.2s ease-in-out;

}

.key_bord > .third_row{

    width: 60%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 10px;

}

.key_bord > .third_row > button{

    width: 60px;
    height: 40px;
    outline: none;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    background-color: rgb(85, 123, 227);
    color: aliceblue;
    font-family: sans-serif;
    font-weight: 700;
    cursor: pointer;
}


.key_bord > .third_row > button:hover{

    transform: scale(1.04);
    box-shadow: 2px 3px 3px rgba(24, 60, 202, 0.2);
    transition: all 0.2s ease-in-out;

}


.quections{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quections > .quection{
    padding-top: 20px;
}

.dash_and_answer{

    padding-top: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.quections > .quection > span{

    font-family: sans-serif;
    font-weight: 600;
    font-size: 22px;
    
}

.align_btn{

    display: flex;
    align-items: center;
    justify-content: center;
}

.play_again_btn{

    width: 90%;
    display: flex;
    justify-content: space-between;
/*     border: 1px solid black; */
}


/* .play_again_btn > button{

    width: 120px;
    height: 35px;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    font-weight: 600;
    background-color: cadetblue;
    color: aliceblue;
    cursor: pointer;

}
 */

.play_again_btn > button:hover{

    transform: scale(1.04);
    box-shadow: 2px 3px 3px rgba(82, 82, 82, 0.3);
    transition: all 0.2s ease-in-out;
}



.button-wrapper canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }


  .button-wrapper_1 canvas {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  .dash{

    margin-top: 10px;
    font-size: 20px;
    font-family: sans-serif;
  }

  .dash.active{

    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    background-color: rgb(255, 129, 129);
    border-radius: 10px;
  }


  .dash.won_state{

    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    background-color: rgb(129, 255, 196);
    border-radius: 10px;
    transition: all 0.2 ease-in-out;


  }

  .mistakes{

    color: red;
  }


  .pop_up{

    width: 400px;
    height: 470px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid rgb(190, 190, 190);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    outline: none;
    pointer-events: all;
    opacity: 1;
    transition: all 0.2s ease-in;
    box-shadow: 2px 2px 3px rgba(86, 86, 86, 0.9);
  }

  .pop_up.close{

    display: none;
    transition: all 0.2s ease-in;
  }


  .pop_name{

    display: flex;
/*     border: 1px solid black; */
    align-items: flex-end;
    justify-content: flex-end;
  }

  .form_section{

    font-family: sans-serif;
  }

  .ite{

    display: flex;
    width: 200px;
/*     border: 1px solid black; */
    justify-content: space-between;
  }


  .name_main{

    width: 100%;
    display: flex;
    font-size: 30px;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }


.name{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.name > span{

    padding-bottom: 5px;
}


input[type="text"]{

    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(140, 140, 140);
}

.male_or_female{

    display: flex;
    width: 140px;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 10px; */
}

.button_section{

    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


button{

    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: #ffffff;
    cursor: pointer;
}

.close_btn{

    cursor: pointer;
    font-size: 26px;
}

.close_btn :hover{

    color: red;
}

.play_again_btn.active > button{

    background-color: rgb(194, 194, 194);
    opacity: 0.5;
}

.email_error{

    color: red;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 270px;
}


.name_error{

    color: red;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 270px;
}

.marks{

    position: relative;
    top: 50px;
   /*  left: 400px; */
    right:-410px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:conic-gradient(#7d2ae8 3.6deg, #d9d9d9 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
  
.marks::before{
  
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}
  
.percentage_marks{
    position: relative;
    font-size: 20px;
    font-family: sans-serif;
} 


.marks.active{

    display: none;
}


.hang_man_body{

    position: relative;
    margin-top: 0;
    padding-top: 0;
    top: 20px;
}


.exit_btn{

    width: 100px;
    background-color: rgb(253, 152, 152);
    font-family: sans-serif;
    font-weight: 600;
    border: none;
    text-align: center;
    font-size: 16px;
}

.play_again{

    width: 100px;
    font-family: sans-serif;
    font-weight: 600;
    border: none;
    text-align: center;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(75, 210, 82);

}